.header_container {
  width: 100%;
  padding: 12px 12px 12px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: rgb(6, 167, 116, 0.1);
}

.logo {
  margin-left: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.logo p {
  font-size: 25px;
  margin-top: 6px;
  margin-left: 8px;
  color: rgb(6, 167, 116);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(6, 167, 116, 0.403);
}

.logo:hover {
  cursor: pointer;
}

.side_active {
  visibility: visible;
}

.side_hide {
  display: none;
}

.openbtn {
  margin-left: 10px;
  margin-top: 4px;
}
.openbtn:hover {
  cursor: pointer;
}
