.header_container {
  width: 100%;
  padding: 12px 12px 12px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: rgba(0, 6, 4, 0.1);
}

.logo {
  margin-left: 80px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}


.logo p {
  font-size: 25px;
  margin-top: 8px;
  margin-left: 8px;
  color: rgb(6, 137, 95);
  font-weight: bold;
}

.logo:hover {
  cursor: pointer;
}

.side_active {
  visibility: visible;
}

.side_hide {
  display: none;
}

.openbtn {
  margin-left: 10px;
  margin-top: 4px;
}
.openbtn:hover {
  cursor: pointer;
}
