.header_container {
  width: 100%;
  padding: 12px 12px 12px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

p {
  margin-left: 20px;
  font-size: larger;
}

p:hover {
  cursor: pointer;
}

.active {
  visibility: visible;
}

.hide {
  display: none;
}

.openbtn:hover {
  cursor: pointer;
}
