.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 18px;
  box-shadow: 10px 0 5px -10px rgb(198, 198, 198);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.sidebar > div:nth-child(-n + 2) {
  margin-top: 25px;
}

.sidebar > div:nth-child(5) {
  margin-top: 250px;
}

.sidebar p {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 22px;
}

.sidebar > div > div {
  display: flex;
}

.sidebar_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  opacity: 75%;
  z-index: 1;
}

.sidebar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closebtn {
  margin-right: 25px;
}

.closebtn:hover {
  cursor: pointer;
}

.side_icons {
  margin-left: 20px;
  margin-top: 2px;
}

.userInfo > p {
  margin-bottom: 5px;
}

.userInfo p:nth-child(1) {
  color: rgba(1, 69, 203, 0.696);
  font-size: 24px;
  font-weight: 500;
}

.userInfo p:nth-child(1):hover {
  cursor: pointer;
}

.userInfo p:nth-child(2) {
  font-size: 18px;
}

.mainMenu {
  position: absolute;
  left: 0;
  top: 225px;
  width: 300px;
  height: 180px;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  padding-left: 18px;
}

.mainMenu div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.check_reservation > div {
  width: 50%;
  margin-left: 11px;
}

.check_reservation > div > * {
  margin-left: 10px;
}

.check_point > div {
  width: 40%;
  margin-left: 31px;
}

.check_point > div > * {
  margin-left: 10px;
}

.mainMenu div > div > p:nth-child(1) {
  color: rgba(1, 69, 203, 0.696);
  font-weight: bold;
}

.icon-href:hover {
  cursor: pointer;
}

.side_bookmark p {
  margin-left: 15px;
}

.side_bookmark:hover {
  cursor: pointer;
}

.subMenu p:hover {
  cursor: pointer;
}

.side_logout:hover {
  cursor: pointer;
}

.side_logout p {
  margin-left: 15px;
}
