.term_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.term_header {
  /* border: 1px solid; */
  width: 68%;
  height: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.term_header p {
  margin-left: 20px;
  font-size: 20px;
}

.term_header:nth-child(1) {
  cursor: pointer;
}

.term_main {
  width: 100%;
  height: 85vh;
  overflow: auto;
  padding: 20px;
  padding-top: 30px;
}

.term_main > div {
  margin-bottom: 15px;
}
