.notice_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notice_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.closebtn {
  margin-left: 30%;
}

.closebtn:hover {
  cursor: pointer;
}

.notice_main {
  width: 100%;
  height: 90%;
  padding: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice {
  width: 100%;
}

.notice_title {
  border-top: 0.5px solid rgb(204, 204, 204);
  position: relative;
  font-weight: 500;
}

.n_active {
  visibility: visible;
  background-color: rgb(234, 241, 255);
  color: rgb(0, 56, 152);
  font-weight: 600;
}

.notice_title > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  padding: 15px 50px 10px 18px;
  font-size: 16px;
}

.notice_title > div:nth-child(2) {
  padding: 0px 30px 15px 20px;
  font-size: 14px;
  position: relative;
}

.date {
  color: gray;
}
.arrowicon {
  position: absolute;
  top: 40%;
  left: 88%;
}

.notice_content {
  padding: 15px;
  height: auto;
  max-height: 100%;
  background-color: rgb(251, 251, 251);
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.n_hide {
  display: none;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
