.bookmark_container {
  width: 100%;
  height: 100%;
}

.bookmark_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 0.5px solid rgb(204, 204, 204);
  padding: 20px 20px 40px 20px;
}

.bookmark_header p {
  margin-left: 20px;
  font-size: 20px;
}

.closebtn {
  margin-left: 30%;
}

.closebtn:hover {
  cursor: pointer;
}

.bookmark_main {
  width: 100%;
  height: 85vh;
  overflow: auto;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 5px;
}

.bookmark > div {
  width: 70%;
}

.bookmark > div > p:nth-child(1) {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
}

.bookmark > div > p:nth-child(1):hover {
  color: rgb(255, 57, 57);
}

.bookmark > div > p:nth-child(2) {
  margin-left: 15px;
  margin-top: 1px;
  font-size: 15px;
  color: gray;
}

.delbtn {
  position: absolute;
  top: 35%;
  left: 91%;
  color: rgb(223, 223, 223);
}

.delbtn:hover {
  cursor: pointer;
  color: rgb(255, 158, 158);
}
