/* 전역 레이아웃 설정입니다. Don't touch plz :) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "side main_container";
  background-color: lemonchiffon;
}

.side {
  grid-area: side;
}

.main_container {
  grid-area: main_container;
  display: grid;
  grid-template-columns: 470px;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "header" "main";
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
  width: 100%;
  background-color: #fff;
  border-bottom: 0.5px solid grey;
}

.main {
  grid-area: main;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "main_container";
  }

  .side {
    display: none;
  }
}

p {
  margin-left: 20px;
  font-size: 20px;
}
