/* ReviewList */

.rvlist_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_rv {
  width: 90%;
  border-bottom: 0.5px solid rgb(188, 188, 188);
  padding: 5px;
}

.rvlist_user {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.rvlist_text {
  margin: 10px;
  padding-left: 10px;
}

.rvlist_user > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: gray;
  margin-left: 5px;
  margin-top: 3px;
}

.rvlist_user > div > div {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.rvlist_user > div > div > p:last-child {
  margin-left: 5px;
}

.rvlist_btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
.rvlist_btns button {
  background-color: white;
  border: none;
  margin: 5px;
  color: gray;
}

/* ReviewStar.js */
.ratingStar {
  display: flex;
  padding-top: 5px;
}

input[type="radio"] {
  display: none;
}

.star:hover {
  cursor: pointer;
  transition: color 200ms;
}

.total_star {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.total_star > div {
  display: flex;
  flex-direction: row;
}

.total_star > div > p {
  font-size: 20px;
  margin: 5px;
}

.total_star > div > p:nth-child(2) {
  color: rgb(6, 167, 116);
  font-weight: 700;
}

.total_star button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(6, 167, 116);
  color: white;
  border-radius: 5px;
  border-color: rgb(6, 167, 116);
}

/* ReviewList Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: rgb(6, 167, 116);
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: rgb(6, 167, 116);
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: #145b45;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: rgb(6, 167, 116);
}

/* 리뷰 작성 수정 페이지 */
.dvwr_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dvwr_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.dvwr_header p {
  margin-left: 20px;
  font-size: 20px;
}

.dvwr_container > .closebtn {
  margin-left: 30%;
}

.dvwr_container > .closebtn:hover {
  cursor: pointer;
}

.dvwr_main {
  width: 100%;
  height: 85vh;
  overflow: auto;
  padding: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dvwr_main form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dvwr_main h2 {
  margin: 20px;
}

.dvwr_main textarea {
  width: 300px;
  height: 200px;
  overflow-y: auto;
  padding: 15px;
}

.dvwr_main button {
  margin: 15px;
  width: 80%;
  height: 40px;
  font-size: 17px;
  background-color: #097855;
  color: white;
  border-radius: 5px;
  border-color: #097855;
  font-weight: 500;
}
