.modal1 {
  position: absolute;
  width: 470px;
  height: 70vh;
  top: -150px;
  left: -30px;
  right: 0;
  bottom: 0;
}

.overlay1 {
  width: 470px;
  height: 100%;
  background: rgba(49, 49, 49, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  /* line-height: 1.4; */
  background: #f1f1f1;
  padding: 40px 28px;
  /* padding-bottom: 68%; */
  height: 102%;
  border-radius: 20px 20px 0px 0px;
  min-width: 471px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.close-modal1 {
  position: absolute;
  top: 20px;
  right: 20px;
}
