.preserv_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.preserv_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.preserv_header p {
  margin-left: 20px;
  font-size: 20px;
}

.preserv_header > .closebtn {
  margin-left: 30%;
}

.preserv_header > .closebtn:hover {
  cursor: pointer;
}

.preserv_main {
  width: 100%;
  height: 85vh;
  overflow: auto;
  padding: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.preserv_main_t {
  width: 100%;
  margin-left: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.preserv_main_t > h4 {
  color: gray;
}

.preserv_main_t > p {
  margin-left: 10px;
  color: #097855;
  font-size: 18px;
}

.img_box {
  border: 0.5px solid rgb(188, 188, 188, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.preserv_main select {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  height: 35px;
  padding-left: 10px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(6, 167, 116);
  border-radius: 5px;
}

.preserv_main button {
  margin: 15px;
  width: 80%;
  height: 40px;
  font-size: 17px;
  background-color: #097855;
  color: white;
  border-radius: 5px;
  border-color: #097855;
  font-weight: 500;
}
