.loading_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  width: 100%;
  background-color: rgb(223, 223, 223, 0.8);
  position: relative;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 9px solid rgb(186, 186, 186);
  border-top: 9px solid rgb(255, 255, 255);
  border-radius: 50em;
  transition: all 0.2s;
  animation-name: spinCircle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carfront {
  position: absolute;
  color: rgb(186, 186, 186);
  left: 44%;
  top: -25px;
}

@keyframes spinCircle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
