.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  width: 100%;
  position: relative;
}

.carIcon {
  position: absolute;
  bottom: 0px;
  left: 85px;
  animation-name: carIcon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

hr {
  position: absolute;
  bottom: 4.5px;
  left: 80px;
  width: 250px;
  height: 5px;
  background-color: rgb(182, 182, 182);
  border: none;
  opacity: 60%;
}

@keyframes carIcon {
  0% {
    left: 85px;
  }
  100% {
    left: 280px;
    color: white;
  }
}

.circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 9px solid rgb(186, 186, 186);
  border-top: 9px solid rgb(255, 255, 255);
  border-radius: 50em;
  transition: all 0.2s;
  animation-name: spinCircle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carfront {
  position: absolute;
  color: rgb(186, 186, 186);
  left: 44%;
  top: -25px;
}

@keyframes spinCircle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
